<%- include('../../components/header_entreprise') %>
<div class="container">
    <%if(typeof flash !== 'undefined'){
    %>
        <div class="alert <%= flash.type %> fade-out" role="alert"><%= flash.mess%> </div>
    <%
    } %>
    <h1 class="mt-5 text-center">Projets en ligne </h1>

    <%if(typeof annonces !== 'undefined'){
        for (let i = 0; i < annonces.length; i++){
            %>
            <a href="/entreprise/annonces/<%= annonces[i].id_annonce %>" class="card mb-3 shadow-sm overflow-hidden " style="max-width: 100%; max-height: 250px; text-decoration: none">
                <div class="row no-gutters">

                    <div class="col ">
                        <div class="card-body ">
                            <h5 class="card-title"><%= annonces[i].titre_A %></h5>
                            <p class="card-text ">Public :</p>
                            <p class="card-text ">Description :</p>
                            <p class="card-text "><%= annonces[i].description_A %></p>


                        </div>
                    </div>
                </div>
            </a>
            <%
        }
        %>

        <%
    }%>
</div>


