<%- include('../../components/header_entreprise') %>
<div class="container">

    <%if(typeof flash !== 'undefined'){
    %>
        <div class="alert <%= flash.type %> fade-out" role="alert"><%= flash.mess%> </div>
    <%
    } %>
    <h1 class="mt-5 text-center">Mon profil entreprise</h1>
        <hr style="width: 50%;">
    <div>
        <h3 class="mb-5 mt-3">Vos informations:</h3>
        <div class="row text-center">
            <a href="/" class="btn btn_sm btn-light"></a>
        </div>
        <hr style="width: 30%;">
        <h4>nom de l'entreprise: <%= infos[0].nom_E%></h4>
        <h4>mail : <%= infos[0].mail_E%></h4>
        <h4 class="mt-3 mb-3">numéro de téléphone: <%= infos[0].tel_E%></h4>
        <h4>description de l'entreprise</h4>
        <p><%= infos[0].desc_E%></p>
    </div>
</div>
<%- include('../../components/footer') %>
