<%- include('../../components/header_entreprise') %>
<div class="container">
    <%
    if(typeof annonce[0] !== 'undefined' && typeof public[0] != 'undefined' && typeof cat[0] != 'undefined'){
        %>
        <div class="text-center">
            <h1 class="mt-5"><%= annonce[0].titre_A %></h1>
        </div>
        <div>
            <p><%= annonce[0].description_A %></p>
            <p >Public : <%= public[annonce[0].FK_id_Public-1].type_P%></p>
            <p >Catégorie : <%= cat[annonce[0].FK_id_Categorie-1].description_C%></p>
        </div>

    <%
    }%>
        <hr style="width: 70%">
        <div class="mt-5 mb-5 pb-5">
            <h3>Avis sur le projet</h3>
            <% if(moyenne != null){
            %>
                <h4>Note moyenne : <%= Math.round((moyenne/avis.length)*100)/100%></h4>
            <%
            }%>
            <%
            if(typeof avis[0] != 'undefined'){
            for (let i = 0; i < avis.length; i++){
            %>
                <hr>
                <p class="mb-0"><%= avis[i].note_A%>/5 : <%= avis[i].desc_A%></p>
                <small ><%= moment(avis[i].date_A).fromNow();%></small>
            <%
            }
            }else{
            %>
                <small>il n'y a encore aucun avis sur ce projet</small>
            <%
            }
            %>
        </div>
</div>
<%- include('../../components/footer') %>